@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["pageName"] = "/Academician";
}

@section CSS{
    <link href="~\css\academicians.css" rel="stylesheet" />
}

@model GenericLoadMoreDto<UserListDto>

<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item @(Model?.PrevPage==true?"":"disabled")">
                            <a class="page-link" href="?page=@(Model?.PageCount-1)" tabindex="-1" aria-disabled="@(Model?.PrevPage==true?"false":"true")">Önceki</a>
                        </li>
                        @for (int i = 0; i < (Model?.TotalPageCount ?? 0); i++)
                        {
                            <li class="page-item  @(Model?.PageCount==i?"active":"")"><a class="page-link" href="?page=@i">@(i + 1)</a></li>

                        }

                        <li class="page-item @(Model?.NextPage==true   ?"":"disabled")">
                            <a class="page-link" href="?page=@(Model?.PageCount+1)" aria-disabled="@(Model?.NextPage==true?"false":"true")">Sonraki</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</div>

<div class="content">

    <div class="row" style="display: flex;justify-content: center; gap: 10px;">

        @if (Model?.Values?.Count > 0)
        {
            foreach (var item in Model.Values)
            {
                <div class="card col-md-4" style="width: 18rem;">
                    <img src="@((item.ProfileImageId!=null)?$"/Media/{item.ProfileImageId}":"/Media/"+(long)EMediaKey.Person)" class="card-img-top" style="height:150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name @item.Surname</h5>
                        <p class="card-text">@item.Description?.Substring(0,Math.Min(100,item.Description.Length)) @(item.Description?.Length>100?"...":"")</p>
                        <a href="/Academician/@item.Id" class="btn btn-primary">Profili Görüntüle</a>
                    </div>
                </div>
            }
        }




    </div>




</div>

