@{
    ViewData["Title"] = "Profile";
    ViewData["pageName"] = "/Academician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <link href="~/css/academicianProfile.css" rel="stylesheet" />
}
@model UserListDto


<div>
    <div class="card mb-3 w-100">
        <div class="row g-0  w-100" style="justify-content: center; align-items: flex-start;">
            <div class="col-md-4 p-4" style="max-width: 300px;">
                <img src="@((Model.ProfileImageId!=null)?$"/Media/{Model.ProfileImageId}":"/Media/"+(long)EMediaKey.Person)" class="img-fluid rounded" width="300px" height="300px" alt="...">
            </div>
            <div class="col-md-8 mt-3 ">
                <div class="card-body text-md-start" style="text-align: center; ">
                    <h5 class="card-title">@Model.FullName</h5>
                    <p class="card-text">@Model.Title</p>
                    <div class="btn-group">
                        <a href="mailto:@Model.Email@(Model.Email2!=null?","+Model.Email2:"")" class="btn btn-primary active" data-bs-toggle="tooltip" data-bs-html="true" title="halilcinar1260@gmail.com" aria-current="page">EPosta Gönder</a>
                        <a href="/chat/addDirectChat/@Model.Id" class="btn btn-primary">Mesaj Gönder</a>
@*                         <a data-bs-toggle="offcanvas" href="#offcanvasDirectMessage" role="button" aria-controls="offcanvasDirectMessage" class="btn btn-primary">Mesaj Gönder</a>
 *@                        <button type="button" class="btn btn-primary active" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                            Abone olun
                        </button>
                    </div>
                    <pre style="white-space:pre-wrap">   @Model.Description</pre>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="subscribeModalLabel">Abone Ol</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" required id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">E posta adresinizi giriniz</label>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>
                                    <button type="submit" class="btn btn-primary">Abone ol</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDirectMessage" aria-labelledby="offcanvasDirectMessageLabel">
        <div class="offcanvas-header">
            <div class="msg-head w-100">
                <div class="row justify-content-between">
                    <div class="col-10">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img class="img-fluid rounded-circle" style="width:100px" src="@((Model.ProfileImageId!=null)?$"/Media/{Model.ProfileImageId}":"/Media/"+(long)EMediaKey.Person)" alt="user img">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>@Model.Name @Model.Surname</h3>
                                <p>@Model.Title</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-body">
            <!-- chatbox -->
            <div class="chatbox">
                <div class="modal-dialog-scrollable">
                    <div class="modal-content">



                        <div class="modal-body">
                            <div class="msg-body">
                                <ul style="">
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:06 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:16 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>yes!</p>
                                        <span class="time">10:20 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:26 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:32 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>How are you?</p>
                                        <span class="time">10:35 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:26 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:32 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>How are you?</p>
                                        <span class="time">10:35 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:26 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:32 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>How are you?</p>
                                        <span class="time">10:35 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:26 am</span>
                                    </li>
                                    <li class="sender">
                                        <p> Hey, Are you there? </p>
                                        <span class="time">10:32 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>How are you?</p>
                                        <span class="time">10:35 am</span>
                                    </li>

                                    <li>
                                        <div class="divider">
                                            <h6>Today</h6>
                                        </div>
                                    </li>

                                    <li class="repaly">
                                        <p> yes, tell me</p>
                                        <span class="time">10:36 am</span>
                                    </li>
                                    <li class="repaly">
                                        <p>yes... on it</p>
                                        <span class="time">junt now</span>
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="send-box">
                            <form action="">
                                <input type="text" class="form-control" aria-label="message…" placeholder="Write message…">

                                <button type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                            </form>

                            <div class="send-btns">
                                <div class="attach">
                                    <div class="button-wrapper">
                                        <span class="label">
                                            <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/upload.svg" alt="image title"> attached file
                                        </span><input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File" aria-label="Upload File">
                                    </div>

                                   

                                   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card container">
        <div class="card-header">
           @Model.FullName ın Gönderileri
        </div>
        <div class="card-body">

            <ul class="list-group">
                @for (int i = 0; i < ViewBag.Posts?.Values?.Count ?? 0; i++)
                {
                    var item = ViewBag.Posts.Values[i] as PostListDto;
                    if (item.PostImageId != null)
                    {
                        <li class="list-group-item">
                            <div class="card  ">
                                <div class="row g-0  justify-content-center justify-content-md-between">
                                    <div class="col-md-4  " style="max-width: 300px;">
                                        <img src="/Media/@item.PostImageId" style="margin: auto;" class="img-fluid rounded-start" width="300px" height="300px" alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body">

                                            <p class="format-text card-text">@item.Content</p>
                                            <div class="">


                                                <div class="btn-group row w-100" role="group" style="max-width:400px" aria-label="Gönderi işlemleri">
                                                    <button type="button" class="col-sm-4  btn btn-primary">Gönderiyi EPostama Gönder</button>
                                                    @if (item.PostMedias?.Count > 0)
                                                    {
                                                        <a href="/Media?ids=@string.Join(",",item.PostMedias.Select(x=>x.MediaId))" class="col-sm-4  btn btn-success">Gönderi Dosyalarını İndir</a>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="card mb-3 ">
                                <div class="row g-0 " style="justify-content: space-around;">

                                    <div class="col-md-12 ">
                                        <div class="card-body">

                                            <p class="format-text card-text">@item.Content</p>
                                            <div class="">

                                                <div class="btn-group row w-100" role="group" style="max-width:400px" aria-label="Gönderi işlemleri">
                                                    <button type="button" class="col-sm-4  btn btn-primary">Gönderiyi EPostama Gönder</button>
                                                    @if (item.PostMedias?.Count > 0)
                                                    {
                                                        <a href="/Media?ids=@string.Join(",",item.PostMedias.Select(x=>x.MediaId))" class="col-sm-4  btn btn-success">Gönderi Dosyalarını İndir</a>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }





            </ul>
        </div>
    </div>
</div>



