
@{
    ViewData["Title"] = "UserRoles";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@model GenericLoadMoreDto<UserListDto>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı ismi</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>


        @if (Model?.Values?.Count > 0)
        {
            for (int i = 0; i < Model.Values.Count; i++)
            {
                var item = Model.Values[i];
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@string.Join(",",item.UserRoles?.Where(x=>x.IsDeleted==false)?.Select(x=>x.Role.ToString()))</td>
                    <td>

                        <a href="/Admin/User/ChangeUserRole/@item.Id" class="btn btn-danger">Rollerini Değiştir</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item @(Model?.PrevPage==true?"":"disabled")">
            <a class="page-link" href="?page=@(Model?.PageCount-1)" tabindex="-1" aria-disabled="@(Model?.PrevPage==true?"false":"true")">Önceki</a>
        </li>
        @for (int i = 0; i < (Model?.TotalPageCount ?? 0); i++)
        {
            <li class="page-item  @(Model?.PageCount==i?"active":"")"><a class="page-link" href="?page=@i">@(i + 1)</a></li>

        }

        <li class="page-item @(Model?.NextPage==true   ?"":"disabled")">
            <a class="page-link" href="?page=@(Model?.PageCount+1)" aria-disabled="@(Model?.NextPage==true?"false":"true")">Sonraki</a>
        </li>
    </ul>
</nav>
