@using AcademicFileSharingProject.Business.Abstract;
@using AcademicFileSharingProject.Core.ExtensionsMethods
@inject IAccountService _accountService
@inject IHttpContextAccessor _httpContextAccessor
@{
    var sessionKey = _httpContextAccessor.HttpContext.Request.Cookies["SessionKey"];
    ViewBag.HasSession = sessionKey != null;
    ViewBag.SessionKey = sessionKey;
    if (sessionKey != null)
    {
        var result = await _accountService.GetSession(sessionKey);

        if (result.ResultStatus == AcademicFileSharingProject.Dtos.Enums.ResultStatus.Success)
        {
            ViewBag.User = result.Result?.User;
        }
    }

}
@inject ISystemSettingsService _systemSettingsService
@{
    var logoResult = await _systemSettingsService.GetLogo();
    if (logoResult.ResultStatus == AcademicFileSharingProject.Dtos.Enums.ResultStatus.Success)
    {
        ViewBag.Logo = logoResult.Result.Value;
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/default.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>


    @await RenderSectionAsync("CSS", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/Media/@ViewBag.Logo" height="30" style="vertical-align: middle;" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["pageName"]=="/"?"active":"")" aria-current="page" href="/">Ana sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  @(ViewData["pageName"]=="/Academician"?"active":"")" href="/Academician">Akademisyenlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  @(ViewData["pageName"]=="/blog"?"active":"")" href="/blog">Haber Ve Bloglar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  @(ViewData["pageName"]=="/Software"?"active":"")" href="/Software">Yazılımlar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  @(ViewData["pageName"]=="/chat"?"active":"")" href="/chat">Mesajlar</a>
                    </li>

                    @if (!ViewBag.HasSession || ViewBag.HasSession==null)
                    {
                        <li class="nav-item">
                            <a class="nav-link  @(ViewData["pageName"]=="/login"?"active":"")" href="/login">Giriş Yap / Kayıt Ol</a>
                        </li>
                    }

                    @if (ViewBag.HasSession)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                @ViewBag?.User?.Name @ViewBag?.User?.Surname
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Admin">Ayarlar</a></li>
                                <li><a class="dropdown-item" href="/Admin/Post/Add">Yeni Gönderi paylaş</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#notificationOffCanvas" role="button" aria-controls="notificationOffCanvas">Bildirimler</a></li>

                                <li><a class="dropdown-item" href="/logout">Çıkış Yap</a></li>

                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="main-content">
        @RenderBody()
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h5>Sayfalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-black">Ana sayfa</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Features</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">About</a>
                        </li>
                    </ul>
                </div>

                <div class="col-4 offset-1">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Features</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-muted">About</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-between border-top">
                <p>© Halil Çınar Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi " width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="models">
            <div>
                @await Component.InvokeAsync("_NotificationComponent")
            </div>
        </div>
    </footer>

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        "use strict";

        var connectionId = localStorage.getItem("connectionId")

        var connection = new signalR.HubConnectionBuilder().withUrl("/connection").build();


        // if (connectionId != null) {
        //     var connection = new signalR.HubConnectionBuilder().withUrl("/connection", options => {
        //         options.Headers.Add("ConnectionId", connectionId);
        //     }).build();
        // } else {
        //     var connection = new signalR.HubConnectionBuilder().withUrl("/connection").build();
        // }
        //document.getElementById("sendButton").disabled = true;
        //window.opener.A = connection;


        connection.on("ReceiveMessage", function (message) {
            if (document.getElementById("messagesList") != null) {
                ReceiveMessage(message)
            } else {
                showNotification(message.message)
            }
        });

        connection.on('ReceiveNotification', function (message) {
            console.log('Bildirim alındı:', message);
            showNotification(message,"Mesajınız var")
        });





        function getSessionId() {
            var sessionId = window.sessionStorage.sessionId;

            if (!sessionId) {
                sessionId = window.sessionStorage.sessionId = Date.now();
            }

            return sessionId;
        }


        function getConnection() {
            return connection
        }


        function showNotification(message,title="") {
            if (Notification.permission !== 'granted') {
                Notification.requestPermission().then(function (permission) {
                    if (permission === 'granted') {
                        showNotification();
                    } else {
                        console.log('Kullanıcı bildirim izni vermedi.');
                    }
                });
            }
            else {
                var options = {
                    body: message,
                    icon: 'path/to/icon.png',
                    badge: 'path/to/badge.png'
                };

                var notification = new Notification(title, options);
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

        connection.start().then(function () {
            console.log(connection)
            localStorage.setItem("connectionId", connection.connection.connectionId)
            connection.invoke("Register", @ViewBag.User?.Id)

            //document.getElementById("sendButton").disabled = false;
        }).catch(function (err) {

            localStorage.removeItem("connectionId")
            return console.error(err.toString());
        });

    </script>
    @await Component.InvokeAsync("NToastNotify")
    <script src="~/js/site.js"></script>
    @if ((ViewBag.User as UserListDto) != null)
    {
        <script>
            setGroupId("@ViewBag.User?.Id")
        </script>
    }
</body>
</html>


